{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="block">
            <h3>Категории</h3>
            <ul>
                <li><a href="{{ path('app_main_index') }}">Все</a></li>
                {% for genre in genres %}
                    <li><a href="{{ path('app_main_category',{'id':genre.id}) }} ">{{ genre.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="block2">
            <input type="text" id="fio" placeholder="fio"><br>
            <input type="text" id="address" placeholder="address"><br>
            <input type="text" id="passportID" placeholder="passportID"><br>
            <input type="submit" class="btn-add" value="Добавить" >
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        $(function () {
            $(".btn-add").on("click", function () {

                var fio = $("#fio").val();
                var address = $("#address").val();
                var passportID = $("#passportID").val();

                $.post("{{ path('app_main_newaccountregistration') }}",
                    {
                        "fio" : fio,
                        "address" : address,
                        "passportID" : passportID
                    },
                    function (response) {

                        alert(response.message);
                        window.location = "{{ path('app_main_newaccountregistration') }}";
                    }
                ).fail(function (response) {
                    alert(response.responseJSON.message);
                });

            });
        });
    </script>
{% endblock %}