{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="block">
            <h3>Категории</h3>
            <ul>
                <li><a href="{{ path('app_main_index') }}">Все</a></li>
                {% for genre in genres %}
                    <li><a href="{{ path('app_main_category',{'id':genre.id}) }} ">{{ genre.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="block2">
            <input type="text" id="library_card" placeholder="Введите номер читательского билета"><br>
            <input type="submit" class="btn-search" value="показать книги" >
            <div class="all-books"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        $(function () {
            $(".btn-search").on("click", function () {

                var library_card = $("#library_card").val();

                $.post("{{ path('app_main_getreaderbooks') }}",
                    {"library_card" : library_card},
                    function (response) {

                        $(".all-books").html(response.books);
                });

            });
        });
    </script>
{% endblock %}