{% for bid in bids %}
    <div class="item">
        <img src="{{ vich_uploader_asset(bid.book, 'thumbFile') }}" style="width: 100px;height: 100px;"><br>
        <h4>{{ bid.book.name }}</h4>
        <a href="#">Брал {{ bid.returnDate.format("d-m-Y H:i:s") }}</a>
    </div>
{% endfor %}

