{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="block">
            <h3>Категории</h3>
            <ul>
                <li><a href="{{ path('app_main_index') }}">Все</a></li>
                {% for genre in genres %}
                    <li><a href="{{ path('app_main_category',{'id':genre.id}) }} ">{{ genre.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="block2">
            {% for book in books %}
                <div class="item">
                    <img src="{{ vich_uploader_asset(book, 'thumbFile') }}" style="width: 100px;height: 100px;"><br>
                    <h4>{{ book.name }}</h4>
                    {% for bid in book.bids %}
                        {% if bid.status %}
                            <p><b>Дата возврата:</b>{{ bid.returnDate.format('d-m-Y H:s:i') }}</p>
                        {% else %}
                            <a href="{{ path('app_main_showbook',{'id':book.id}) }}">получить</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('app_main_showbook',{'id':book.id}) }}">получить</a>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
