<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            .main-menu {
                margin: 0 auto;
                width: 1120px;
                border-bottom: 1px solid red;
            }
            .main-menu ul{
                list-style: none;
            }
            .main-menu ul li{
                display: inline-block;
                display: inline-block;
                margin-left: 118px;
                margin-bottom: 20px;
            }
            .main-menu ul li{
                display: inline-block;
                display: inline-block;
                margin-right: 10px;
            }
             .content {
                 margin: 0 auto;
                 width: 1120px;
             }
            .block {
                display: inline-block;
                width: 24%;
                min-height: 591px;
                vertical-align: top;
            }
            .block2 {
                display: inline-block;
                min-height: 600px;
                text-align: center;
                width: 830px;
            }
            .item {
                width: 235px;
                margin: 10px;
                border: 1px solid #e4e4e4;
                display: inline-block;
                padding: 8px 5px 24px;
            }
        </style>
        <script type="text/javascript" src="{{ asset('assets/js/jquery-3.2.1.js') }}"></script>
    </head>
    <body>
        <div class="main-menu">
            <ul>
                <li><a href="{{ path('app_main_index') }}">Литература</a> | <a href="{{ path('app_main_accountbooks') }}">Мои книги</a></li>
                <li></li>
                <li></li>
                <li></li>
                <li><a href="#">RU</a>|<a href="#">EN</a> <a href="{{ path('app_main_accountregistration') }}"><button>Регистрация</button></a></li>
            </ul>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
